# Setup - Kör koden i denna cell. Du behöver installera pandas med pip (pip install pandas)

In [2]:
# This makes it so that jupyter wont just output the last line, but everything that gets outputted.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

## Beskrivning

Kickstarter är en tjänst där vem som helst kan försöka få finansiering av privatpersoner och företag för att förverkliga ett projekt. Datan består några tusen projekt som varit publicerade. Om du blir osäker på vad Kickstarter är, googla! :-)

Uppgiften går ut på att använda pythonbiblioteket "pandas" för att arbeta med datan. Denna laboration förutsätter att ni har läst på och deltagit på lektioner om pandas för att behärska lösningarna.

### Använd jupyternotebook i vscode (Alternativ 1), rekommenderas
Lös notebooken i vscode. Du behöver då installera pandas med hjälp av pip eller conda, tex. "pip install pandas". Följ denna youtube-video: https://www.youtube.com/watch?v=jNk-ZmeIz6c&ab_channel=VeryAcademy
**OBS** OM DU SKA INKLUDERA EN VIRTUAL ENVIRONMENT (VENV) SÅ MÅSTE DU DÖPA DEN TILL "VENV" ELLER BYTA NAMN PÅ VAD SOM STÅR I .gitignore-filen TILL SAMMA NAMN SOM DIN VIRTUAL ENVIRONMENT. Du ska alltså inte pusha ut din virtual environment till git! I många fall behöver du ingen virtual environment (venv) utan du kan köra pip install pandas direkt. Försök byta "interpreter" genom att skriva ctrl + shift + p --> select interpreter --> testa alla dina olika versioner av python

Om du inte kan köra dina celler så ska du se till att du valt en "kernel" längst uppe till höger.


### Använd google colab för din notebook (Alternativ 2), rekommenderas ej
Du kan göra uppgiften genom att använda google colab, Du kommer att behöva ladda upp main.ipynb följt av att lägga till testdatan "kickstarter.csv". Tänk bara på att du åtminstone 2-3 gånger under tidens gång sparar filen, gör en commit i git och pushar ut. Sedan fortsätter du. Detta är nackdelen med colab, att vi inte kan jobba med git lika smidigt.

### Hur du arbetar i notebooken

- För **VARJE** cell ska koden du skrivit displaya resultatet av dina operationer så att jag kan följa stegen du tar (genom att helt enkelt skriva "df" på slutet av varje cell). För vissa celler kan du dessutom se vilken output jag förväntar mig från celler där det står "Ta ej bort denna cell", om du tar bort cellen försvinner outputten. 
- **Det ska gå att köra koden från början till slut och få samma resultat igen**
- Du ska beskriva koden i varje cell så att jag ser att du förstår vad du gör. 
- Använd dokumentationen som stöd [https://pandas.pydata.org/docs/reference/frame.html](https://pandas.pydata.org/docs/reference/frame.html)

## Sektion 1

### 1 Ladda in datasettet kickstarter.csv till en dataframe, döp den till "df"

In [3]:
df = pd.read_csv("kickstarter.csv")

### 2 Printa ut de 5 första raderna

In [4]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"

In [5]:
# Ta ej bort denna cell

### 3 Printa ut 20 slumpmässiga rader från datasettet

In [6]:
df.sample(20)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
1953,961962090ID,Rain Socks - The world's best rainwear for sne...,Product Design,Design,JPY,2018-02-23,1130000.0,2017-12-26 03:03:53,766240.0,live,197,JP,66496$ usd,6894.99,10168.27,"Maldonado Hill, 18296"
384,767758151ID,MisterTzator,Fashion,Fashion,USD,2014-02-03,5000.0,2013-12-25 19:31:08,458.0,failed,19,US,85894$ usd,458.00,5000.00,"Ronald Point, 91776"
1808,1305813676ID,Original Gangster,Action,Film & Video,GBP,2014-10-09,7500.0,2014-09-09 00:51:25,20.0,failed,2,GB,75859$ usd,32.07,12025.59,"Joseph Route, 48322"
39,192022803ID,Art is Art! Studio Start-Up,Digital Art,Art,USD,2015-02-08,1500.0,2015-01-11 01:35:25,1.0,failed,1,US,90742$ usd,1.00,1500.00,"James Turnpike, 42293"
740,1361837955ID,The Unity Greenhouse Revival,Community Gardens,Food,USD,2014-09-08,20000.0,2014-07-29 19:25:35,0.0,failed,0,US,52000$ usd,0.00,20000.00,"Wheeler Parkways, 11554"
1712,1367036293ID,Born of Conspiracy CD,Metal,Music,USD,2015-04-01,1000.0,2015-01-31 06:07:26,10.0,failed,1,US,94336$ usd,10.00,1000.00,"Paul Causeway, 94486"
1958,1896905595ID,Roots Like Mountains: White Lies Album & Tour ...,Metal,Music,USD,2014-12-27,3500.0,2014-10-28 07:02:30,55.0,canceled,2,US,88097$ usd,55.00,3500.00,"Stephen Villages, 08665"
291,1590039856ID,The Energy Imagery Book by Stefan Senna,Art Books,Publishing,USD,2012-01-14,4300.0,2011-12-15 00:25:56,50.0,failed,2,US,94123$ usd,50.00,4300.00,"Shane Extensions, 59367"
508,915389124ID,Detective Manne - TV Pilot,Film & Video,Film & Video,USD,2011-07-09,4000.0,2011-05-10 19:12:18,101.0,failed,2,US,70686$ usd,101.00,4000.00,"Kyle Island, 44603"
49,1000590709ID,Musical Light Suit,Hardware,Technology,USD,2011-06-28,6000.0,2011-05-19 09:09:15,20.0,failed,2,US,92451$ usd,20.00,6000.00,"Flowers Springs, 31895"
1740,1778049059ID,ADAM'S VOICE NEW ALBUM with special guests,Music,Music,USD,2013-03-01,15000.0,2013-01-25 18:24:56,425.0,failed,7,US,64307$ usd,425.00,15000.00,"Jenna Stream, 49915"
1752,267856460ID,Mother,Animation,Film & Video,USD,2012-10-12,8000.0,2012-09-12 01:01:12,60.0,failed,2,US,89745$ usd,60.00,8000.00,"Joshua Lake, 61255"
648,1925275229ID,"""IF ANY MAN"" - Location Scouting",Documentary,Film & Video,USD,2014-10-11,30000.0,2014-08-12 00:43:36,0.0,failed,0,US,97158$ usd,0.00,30000.00,"Barry Ford, 76760"
1826,884229738ID,Lon Dorsey Tribute to Lou Rawls Performances P...,R&B,Music,USD,2015-11-16,150000.0,2015-09-18 01:16:29,20.0,canceled,1,US,60334$ usd,20.00,150000.00,"Michael Crossroad, 91637"
935,1750986700ID,Out for Vengeance,Thrillers,Film & Video,EUR,2015-06-15,10000.0,2015-05-27 00:27:23,0.0,failed,0,NL,79452$ usd,0.00,11299.05,"Robles Ridges, 38450"
173,1507774512ID,Send Face of Fear to the 2012 Gen Con Film Fes...,Narrative Film,Film & Video,USD,2012-08-12,1000.0,2012-07-23 22:49:00,15.0,failed,2,US,93437$ usd,15.00,1000.00,"Vincent Stream, 15441"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
1709,1976685116ID,THE PURPLE JESTER Uta Bekaia summer/spring 2013,Fashion,Fashion,USD,2012-11-22,3000.0,2012-10-18 21:33:07,3005.0,successful,15,US,78717$ usd,3005.00,3000.00,"Diana Key, 24005"
589,1472203547ID,Snow,Shorts,Film & Video,USD,2012-03-07,8600.0,2012-02-15 19:09:30,981.0,failed,9,US,99445$ usd,981.00,8600.00,"Davidson Landing, 66885"
1788,78921500ID,Dialogger,Technology,Technology,USD,2017-05-29,1000.0,2017-04-14 07:05:25,434.0,failed,21,US,81997$ usd,434.00,1000.00,"Derek Ramp, 17932"

In [7]:
# Ta ej bort denna cell

### 4 Visa en sammanställning av information från din dataframe

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2000 non-null   object
 1   name                2000 non-null   object
 2   category            2000 non-null   object
 3   main_category       2000 non-null   object
 4   currency            2000 non-null   object
 5   deadline            2000 non-null   object
 6   goal                2000 non-null   float64
 7   launched            2000 non-null   object
 8   pledged             2000 non-null   float64
 9   state               2000 non-null   object
 10  backers             2000 non-null   int64
 11  country             2000 non-null   object
 12  usd pledged         2000 non-null   object
 13  usd_pledged_result  2000 non-null   float64
 14  usd_funding_goal    2000 non-null   float64
 15  company_address     2000 non-null   object
dtypes: float64(4), int64(1), object(11)
memory usage: 250.1+ KB

In [9]:
# Ta ej bort denna cell

### 5 Printa rad 5 till rad 10 (inkluderat 10) med hjälp av .iloc

In [10]:
df.iloc[5:11]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
5,2021765829ID,Feels Like Home is Going On Tour,Rock,Music,USD,2013-05-01,5000.0,2013-04-10 01:42:03,5490.69,successful,93,US,74996$ usd,5490.69,5000.00,"Gonzalez Landing, 20367"
6,923683665ID,Sarah’s Journey: Empowering the Dreams of Disp...,Children's Books,Publishing,SEK,2016-12-19,218000.0,2016-11-15 19:13:46,227101.00,successful,352,SE,67246$ usd,24593.47,23607.89,"Hall Loaf, 09759"
7,397532230ID,James Clark's Lonely Hearts Rugby Clwb Film & ...,Music,Music,GBP,2014-02-04,300.0,2014-01-07 23:34:41,624.00,successful,26,GB,61172$ usd,1018.79,489.80,"Cunningham Throughway, 66540"
8,181163322ID,Chosen Kin: A New Superhero Series & Interacti...,Webseries,Film & Video,USD,2017-02-02,5000.0,2017-01-03 06:54:08,156.00,failed,5,US,96858$ usd,156.00,5000.00,"Bullock Skyway, 28207"
9,1616507003ID,Adventures in Oz: Beyond the Deadly Desert,Games,Games,USD,2011-12-02,3000.0,2011-11-01 00:00:10,520.00,failed,17,US,82928$ usd,520.00,3000.00,"Harris Estates, 48703"
10,373344194ID,Moonlight Vulture,Restaurants,Food,USD,2016-01-04,10000.0,2015-12-14 15:23:00,10727.00,successful,102,US,51152$ usd,10727.00,10000.00,"Bryant Manor, 16806"

In [11]:
# Ta ej bort denna cell

### 6 Byt index (radernas namn) så att index är baserat på den befintliga kolumnen ID, ändringen ska vara permanent (använd inte inplace)

In [12]:
df = df.set_index("ID")

In [13]:
# Ta ej bort denna cell

### 7 Displaya raderna med indexet "121816660ID" till "1503277376ID" med hjälp av .loc
- Förklara varför en dataframe på många sätt är en blandning mellan en lista och dictionary, använd .iloc och .loc när du argumenterar

In [14]:
#Because you can get both the index and key value from the data frame which are both similar to how lists and dictionaries work. 
df.loc["121816660ID":"1503277376ID"]
df.iloc[3]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"

name                  Eatsleeptrainrepeat
category                              Web
main_category                  Technology
currency                              SEK
deadline                       2014-12-24
goal                             180000.0
launched              2014-11-24 21:47:27
pledged                               0.0
state                              failed
backers                                 0
country                                SE
usd pledged                    64632$ usd
usd_pledged_result                    0.0
usd_funding_goal                 23054.76
company_address       Laura Stream, 08932
Name: 49882738ID, dtype: object

In [15]:
# Ta ej bort denna cell

### 8 Displaya alla rader med currencyn "USD" genom att använda en mask

In [16]:
mask = (
    df["currency"]
    .str
    .contains("USD")
)

currency_usd = df[mask]
currency_usd

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.00,successful,5085,US,98849$ usd,408052.00,25000.0,"Mary Grove, 30815"
1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.00,successful,10,US,52486$ usd,1106.00,1100.0,"Garcia Tunnel, 77525"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.00,successful,9,US,99272$ usd,5025.00,5000.0,"Andrew Pike, 24782"
2021765829ID,Feels Like Home is Going On Tour,Rock,Music,USD,2013-05-01,5000.0,2013-04-10 01:42:03,5490.69,successful,93,US,74996$ usd,5490.69,5000.0,"Gonzalez Landing, 20367"
181163322ID,Chosen Kin: A New Superhero Series & Interacti...,Webseries,Film & Video,USD,2017-02-02,5000.0,2017-01-03 06:54:08,156.00,failed,5,US,96858$ usd,156.00,5000.0,"Bullock Skyway, 28207"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.00,failed,1,US,70106$ usd,25.00,2500.0,"Fernandez Cliff, 07444"
1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.00,failed,2,US,77334$ usd,40.00,4850.0,"Williams Junction, 45598"
508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.00,failed,2,US,95565$ usd,86.00,25000.0,"Elaine Point, 97758"
945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.00,successful,77,US,86498$ usd,5610.00,5000.0,"Nancy Dam, 25971"
1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.00,failed,18,US,72847$ usd,1233.00,15000.0,"Kennedy Motorway, 67176"

In [17]:
# Ta ej bort denna cell

### 9 kolumnen "pledged" har en hel del värden med 0.0. Ändra dessa till NaN-datatypen istället, använd exempelvis .loc

In [18]:
df.loc[df["pledged"] == 0.0, ["pledged"]] = np.nan

### 10 Printa ut alla rader som har NaN med sina vanliga värden (dvs. det ska inte bara vara True / False), ___Du ska använda dig av en metod/funktion___

In [19]:
# Du ska **INTE** göra så här: ks[ks["pledged"] == np.NaN] - du kan ju testa, det kommer inte att fungera!
df[df["pledged"].isna()]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632$ usd,0.0,23054.76,"Laura Stream, 08932"
1384707351ID,Batman Band Builder for Ios and Android (Cance...,Games,Games,GBP,2015-10-28,500.0,2015-09-28 21:17:03,NaN,canceled,0,GB,50983$ usd,0.0,766.99,"Barbara Islands, 71175"
1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,NaN,failed,0,US,80915$ usd,0.0,30000.00,"Stacey Loaf, 25341"
1616831393ID,Help us construct with music (Canceled),Music,Music,USD,2011-04-09,10000.0,2011-03-10 05:20:04,NaN,canceled,0,US,86018$ usd,0.0,10000.00,"Jill Course, 75981"
1992107184ID,Community Art Wall (Canceled),Public Art,Art,USD,2013-07-28,6750.0,2013-05-29 22:00:17,NaN,canceled,0,US,85307$ usd,0.0,6750.00,"Collins Pike, 12819"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625585267ID,Rosie the hippo: Do I have to share my toys? (...,Children's Books,Publishing,USD,2015-12-16,3000.0,2015-11-16 18:31:08,NaN,canceled,0,US,61783$ usd,0.0,3000.00,"Jennifer Trail, 37296"
615895406ID,Kombat Komedian 2,Experimental,Film & Video,EUR,2015-08-15,2000.0,2015-06-18 01:01:07,NaN,failed,0,IT,63965$ usd,0.0,2256.19,"Harmon Walk, 31405"
603589651ID,The beginning,Animation,Film & Video,DKK,2017-09-26,35000.0,2017-08-27 23:22:06,NaN,failed,0,DK,77101$ usd,0.0,5552.21,"Shaw Shore, 91720"
374290795ID,Soul Sessions with Yolanda Stephens (Canceled),Music,Music,USD,2015-09-30,50000.0,2015-08-18 21:59:21,NaN,canceled,0,US,71133$ usd,0.0,50000.00,"Fitzpatrick Alley, 18274"
932817729ID,Chipps and Dipps,Tabletop Games,Games,USD,2016-11-16,35000.0,2016-10-18 21:59:14,NaN,canceled,0,US,53455$ usd,0.0,35000.00,"Stanley Falls, 53083"

In [20]:
# Ta ej bort denna cell

### 11 Skapa en ny kolumn som är heter pledged_real_diff som representerar skillnaden i USD mellan pledged usd och usd_pledged_result.
Hint: Du kommer behöva "cleana" "pledged usd" så att du kan utföra matematiska operationer på det genom att först städa bort onödig text och sedan konvertera det till en float.

In [21]:

df["usd pledged"] = df["usd pledged"].str.replace("$ usd", "")
df["usd pledged"] = df["usd pledged"].astype(float)
df["pledged_real_diff"] = df["usd pledged"] -df["usd_pledged_result"]

### 12 Displaya hur många kickstarterprojekt det finns uppdelat på kategori med hjälp av kolumnen main_category

In [22]:
df["main_category"].value_counts()

main_category
Film & Video    375
Music           272
Publishing      198
Games           186
Art             154
Design          153
Technology      150
Food            142
Fashion         102
Photography      62
Theater          57
Crafts           56
Comics           47
Journalism       23
Dance            23
Name: count, dtype: int64

In [23]:
# Ta ej bort denna cell

### 13 Vad är det högsta resultatet för usd_pledged_result? Du ska använda dig av en metod.

In [24]:
df["usd_pledged_result"].max()

np.float64(1021481.0)

In [25]:
# Ta ej bort denna cell

### 14 Visa de projekten med minst "usd_pledged_result" - använd dig av .min()
Du ska inte enbart visa värdet, utan hela raderna

Tips: Använd en mask!

In [26]:
mask_min = df["usd_pledged_result"] == df["usd_pledged_result"].min()

df[mask_min]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address,pledged_real_diff
ID,,,,,,,,,,,,,,,,
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632.0,0.0,23054.76,"Laura Stream, 08932",64632.0
1384707351ID,Batman Band Builder for Ios and Android (Cance...,Games,Games,GBP,2015-10-28,500.0,2015-09-28 21:17:03,NaN,canceled,0,GB,50983.0,0.0,766.99,"Barbara Islands, 71175",50983.0
1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,NaN,failed,0,US,80915.0,0.0,30000.00,"Stacey Loaf, 25341",80915.0
1616831393ID,Help us construct with music (Canceled),Music,Music,USD,2011-04-09,10000.0,2011-03-10 05:20:04,NaN,canceled,0,US,86018.0,0.0,10000.00,"Jill Course, 75981",86018.0
1992107184ID,Community Art Wall (Canceled),Public Art,Art,USD,2013-07-28,6750.0,2013-05-29 22:00:17,NaN,canceled,0,US,85307.0,0.0,6750.00,"Collins Pike, 12819",85307.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625585267ID,Rosie the hippo: Do I have to share my toys? (...,Children's Books,Publishing,USD,2015-12-16,3000.0,2015-11-16 18:31:08,NaN,canceled,0,US,61783.0,0.0,3000.00,"Jennifer Trail, 37296",61783.0
615895406ID,Kombat Komedian 2,Experimental,Film & Video,EUR,2015-08-15,2000.0,2015-06-18 01:01:07,NaN,failed,0,IT,63965.0,0.0,2256.19,"Harmon Walk, 31405",63965.0
603589651ID,The beginning,Animation,Film & Video,DKK,2017-09-26,35000.0,2017-08-27 23:22:06,NaN,failed,0,DK,77101.0,0.0,5552.21,"Shaw Shore, 91720",77101.0
374290795ID,Soul Sessions with Yolanda Stephens (Canceled),Music,Music,USD,2015-09-30,50000.0,2015-08-18 21:59:21,NaN,canceled,0,US,71133.0,0.0,50000.00,"Fitzpatrick Alley, 18274",71133.0
932817729ID,Chipps and Dipps,Tabletop Games,Games,USD,2016-11-16,35000.0,2016-10-18 21:59:14,NaN,canceled,0,US,53455.0,0.0,35000.00,"Stanley Falls, 53083",53455.0

In [27]:
# Ta ej bort denna cell

### 15 Hitta alla rader som innehåller ordet "Cross" i kolumnen "name" med hjälp av string-metoder och displaya högsta värdet för kolumnen "pledged"

In [28]:
df[df["name"].str.contains("Cross")]["pledged"].max()

np.float64(8618.5)

In [29]:
# Ta ej bort denna cell

## Sektion 2

### 16 Displaya hur många kickstarterprojekt uppdelat på kategori med hjälp av kolumnen main_category. Displaya topp 5 sorterat från högst till lägst.

In [30]:
df["main_category"].value_counts().head()

main_category
Film & Video    375
Music           272
Publishing      198
Games           186
Art             154
Name: count, dtype: int64

In [31]:
# Ta ej bort denna cell

### 17 Displaya de top 10 ovanligaste KOMBINATIONERNA av "main_category" och "category" som är country "US"

In [32]:
df[df["country"] == "US"][["main_category", "category"]].value_counts().tail(10)

main_category  category
Film & Video   Thrillers            1
Games          Puzzles              1
Photography    Places               1
Music          Punk                 1
Journalism     Photo                1
Music          Blues                1
Publishing     Anthologies          1
               Literary Spaces      1
Technology     Space Exploration    1
Theater        Festivals            1
Name: count, dtype: int64

In [33]:
# Ta ej bort denna cell

### 18 Dela upp projekten i grupper baserat på main_category, vad är den genomsnittliga funding-målet dom har (usd_funding_goal). Sortera resultatet från högt till lågt

In [34]:
df.groupby(["main_category"])["usd_funding_goal"].mean().sort_values(ascending=False)

main_category
Art             666092.309286
Technology       50913.101867
Games            33791.858656
Food             31883.745070
Theater          27964.739298
Film & Video     22852.615627
Publishing       20830.815909
Design           19979.825948
Fashion          15168.148725
Music            11747.886985
Photography       9095.636613
Crafts            7852.780536
Journalism        7384.004348
Dance             5884.845217
Comics            4545.462553
Name: usd_funding_goal, dtype: float64

In [35]:
# Ta ej bort denna cell

### 19 Displaya en sammanställning av samma gruppering som förra uppgiften. Den ska nu innehålla flera kolumner med minst genomsnitt, max, min, count
- Använd först .describe och displaya din output
- Använd .agg() och displaya din output, du ska endast inkludera genomsnitt, max, min, count

In [36]:

df.groupby(["main_category"])["usd_funding_goal"].agg(["mean", "max", "count", "min"])

                        mean           max  count     min
main_category
Art            666092.309286  1.000000e+08    154   75.00
Comics           4545.462553  2.224034e+04     47   99.00
Crafts           7852.780536  6.962980e+04     56   20.00
Dance            5884.845217  2.495840e+04     23  350.00
Design          19979.825948  2.280606e+05    153    1.00
Fashion         15168.148725  5.000000e+05    102  158.18
Film & Video    22852.615627  7.500000e+05    375   15.00
Food            31883.745070  5.000000e+05    142    0.89
Games           33791.858656  7.923763e+05    186   15.00
Journalism       7384.004348  2.700000e+04     23  500.00
Music           11747.886985  7.256368e+05    272  111.60
Photography      9095.636613  7.500000e+04     62  100.00
Publishing      20830.815909  2.000000e+06    198   10.00
Technology      50913.101867  9.000614e+05    150    1.00
Theater         27964.739298  1.000000e+06     57  100.00

In [37]:
# Ta ej bort denna cell

### 20 Gruppera baserat på kolumnen "state" och displaya genomsnittet av backers (dvs. antal folk som betalat pengar för att stötta projektet). Vad drar du för slutsats? Det räcker med max 2 meningar.

In [38]:
#The amount of backers increased the chance of success for the project.
df.groupby(["state"])["backers"].mean()

state
canceled       22.548544
failed         17.244782
live           29.142857
successful    198.752890
suspended      34.555556
undefined       0.000000
Name: backers, dtype: float64

In [39]:
# Ta ej bort denna cell

### 21 Använd .apply() 
1. Undersök vilka kategorier det finns i kolumnen "state"
2. Skapa en funktion som baserat på värdena i kolumnen state är, modifierar kolumnen "usd_funding_goal" med en * om det står success, "!" för failure eller canceled, "---" för "suspended".
3. Displaya ett sample av 20 rader från din modifierade kolumn

In [40]:
def change_usd_funding_goal_to_symbol(status):
  if status["state"] == "succesful":
    return status["usd_funding_goal"] + "*"
  elif status["state"] == "failed":
    return status["usd_funding_goal"] + "!"
  elif status["state"] == "canceled":
    return status["usd_funding_goal"] + "!"
  elif status["state"] == "suspended":
    return status["usd_funding_goal"] + "---"

df["usd_funding_goal"] = df["usd_funding_goal"].astype(str)
df["usd_funding_goal"] = df.apply(change_usd_funding_goal_to_symbol, axis = 1)
df["usd_funding_goal"].head(20)
#df.loc[df["pledged"] == 0.0, ["pledged"]] = np.nan
#df.loc[df["state"] == "successful", ["usd_funding_goal"]] = "*"

ID
1054480724ID         None
1317034686ID         None
121816660ID     74550.09!
49882738ID      23054.76!
1503277376ID         None
2021765829ID         None
923683665ID          None
397532230ID          None
181163322ID       5000.0!
1616507003ID      3000.0!
373344194ID          None
2122827837ID         None
286280470ID          None
1659643222ID     20000.0!
277680592ID      12500.0!
2034347921ID         None
2039236715ID      5000.0!
399852375ID       5000.0!
2058849769ID     12000.0!
1689151234ID         None
Name: usd_funding_goal, dtype: object